body{
    font-family: monospace;    
    background-image: url(xK.gif);
}
h1,h2{
    color: #9F54B5;
    font-size: 30px;
}

p{
    color: white;
}
ul{
    color: white;
}
.Capshabilidade{
    font-size: 20px;
}
p, li{
    font-size: 15px;
}