body{
    font-family: monospace;    
    background-color: black;
}
h1,h2{
    color: #9F54B5;
    font-size: 30px;
}

p{
    color: white;
}
ul{
    color: white;
}
.Capshabilidade{
    font-size: 20px;
}
p, li{
    font-size: 15px;
}

.minhaFoto{
    float: left;
    height: 555px;
}

.imageContainer{
height: 550px;    
}

div{
    border: 2px solid blueviolet
}